# diverseShell
# Reinspect, LLC.
# 8/16 Version

# Reset
dsRE='\e[0m'	# Resets Attributes

# Formatting

dsB='\e[1m'	# Bold/Bright
dsD='\e[2m'	# Dim
dsU='\e[4m'	# Underline
dsBLINK='\e[5m'	# Blink (Doesn't work with most Terminal-Emulators)
dsIN='\e[7m'	# Invert
dsHIDE='\e[8m'	# Hidden (useful for passwords)

# Foreground Colors (Text)
fDefault='\e[39m'	# Default
fBlack='\e[30m'		# Black
fRed='\e[31m'		# Red
fGreen='\e[32m'		# Green
fYellow='\e[33m'	# Yellow
fBlue='\e[34m'		# Blue
fMagenta='\e[35m'	# Magenta
fCyan='\e[36m'		# Cyan
fLGray='\e[37m'		# Light Gray
fDGray='\e[90m'		# Dark Gray
fLRed='\e[91m'		# Light Red
fLGreen='\e[92m'	# Light Green
fLYellow='\e[93m'	# Light Yellow
fLBlue='\e[94m'		# Light Blue
fLMagenta='\e[95m'	# Light Magenta
fLCyan='\e[96m'		# Light Cyan
fWhite='\e[97m'		# White

# Background Colors (Text)
bDefault='\e[49m'	# Default
bBlack='\e[40m'		# Black
bRed='\e[41m'		# Red
bGreen='\e[42m'		# Green
bYellow='\e[43m'	# Yellow
bBlue='\e[44m'		# Blue
bMagenta='\e[45m'	# Magenta
bCyan='\e[46m'		# Cyan
bLGray='\e[47m'		# Light Gray
bDGray='\e[100m'	# Dark Gray
bLRed='\e[101m'		# Light Red
bLGreen='\e[102m'	# Light Green
bLYellow='\e[103m'	# Light Yellow
bLBlue='\e[104m'	# Light Blue
bLMagenta='\e[105m'	# Light Magenta
bLCyan='\e[106m'	# Light Cyan
bWhite='\e[107m'	# White
